body{
    background-color: cadetblue;
    font-family: noto sans, sans-serif;
}

table{
    display: flex;
    justify-content: center;
}

tr{
    color: #a7e7fa;
}

.TGR{
    color: #f0bcff;
}

.IMG{
    width: 7rem !important;
}

.movieImage{
    width: 3rem;
}

